<div id="contact-page" class="container">
  <div class="bg">
    <div class="row">
      <div class="col-sm-8">
        <div class="contact-form">
          <h2 class="title text-center">Get In Touch</h2>
          <div class="alert alert-success mt-4 mb-0" role="alert" *ngIf="successMessage">
            {{successMessage}}
          </div>
          <div class="alert alert-danger mt-4 mb-0" role="alert" *ngIf="errorMessage">
            {{errorMessage}}
          </div>
    
          <form id="main-contact-form" class="contact-form row" name="contact-form" [formGroup]="contactForm">
            <div class="form-group col-md-6">
              <input type="text" name="name" class="form-control" required="required" placeholder="Full Name"
                formControlName="full_name">
              <span style="color:red"
                *ngIf="contactForm.get('full_name').hasError('required') && contactForm.get('full_name').touched">The
                name field
                is required.</span>
              <span style="color:red"
                *ngIf="contactForm.get('full_name').hasError('onlySpace') && contactForm.get('full_name').touched">This
                field is required.</span>

            </div>
            <div class="form-group col-md-6">
              <input type="email" name="email" class="form-control" required="required" placeholder="Email"
                formControlName="email">
              <span style="color:red"
                *ngIf="contactForm.get('email').hasError('email') && contactForm.get('email').touched">Valid Email is
                required.</span>
            </div>
            <div class="form-group col-md-12">
              <input type="text" name="subject" class="form-control" required="required" placeholder="Subject"
                formControlName="subject">
              <span style="color:red"
                *ngIf="contactForm.get('subject').hasError('required') && contactForm.get('subject').touched">The
                subject field is required.</span>
              <span style="color:red"
                *ngIf="contactForm.get('subject').hasError('onlySpace') && contactForm.get('subject').touched">This
                field is required.</span>

            </div>
            <div class="form-group col-md-12">
              <textarea name="message" id="message" formControlName="message" required="required" class="form-control"
                rows="8" placeholder="Your Message Here"></textarea>
              <span style="color:red"
                *ngIf="contactForm.get('message').hasError('required') && contactForm.get('message').touched">The
                message field is required.</span>
              <span style="color:red"
                *ngIf="contactForm.get('message').hasError('onlySpace') && contactForm.get('message').touched">This
                field is required.</span>

            </div>
            <div class="form-group col-md-12">
              <button class="prime_button btn btn-primary" type="submit" (click)="submitcontactForm()"
                [disabled]="contactCheckForm">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="contact-info">
          <h2 class="title text-center">Contact Info</h2>
          <address>
            <p>E-Shopper Inc.</p>
            <p>935 W. Webster Ave New Streets Chicago, IL 60614, NY</p>
            <p>Newyork USA</p>
            <p>Mobile: +2346 17 38 93</p>
            <p>Fax: 1-714-252-0026</p>
            <p>Email: info@e-shopper.com</p>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>

<!--/#contact-page-->
