<div class="bordered">
  <div class="spinner-wrapper" *ngIf="loader">
    <div class="spinner-border">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div *ngIf="!loader">
  <a href="#" *ngFor="let category of categories"[routerLink]="['/category']"  [queryParams]="{key:category.category_id}"
    class="list-group-item" routerLinkActive="active">{{ category.name }}</a>
</div>
