	<section>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-3">
	        <div class="left-sidebar">
	          <div class="brands_products features_items">
	            <!--brands_products-->
	            <h2>Category</h2>
	            <div class="list-group">
	              <app-category></app-category>
	            </div>
	          </div>
	          <!--/brands_products-->
	        </div>
	      </div>

	      <div class="col-md-9 padding-right">
	        <div class="features_items">
	          <!--features_items-->
	          <h2 class="title text-center">Products</h2>

	          <div class="spinner-wrapper" *ngIf="loader">
	            <div class="spinner-border">
	              <span class="sr-only">Loading...</span>
	            </div>
	          </div>
	          <ng-container *ngIf="products.length != 0 && !loader">
	            <div class="row feature-product">
	              <div class="col-sm-6" *ngFor="let product of products">
	                <div class="product-image-wrapper">
	                  <div class="single-products">
	                    <div class="productinfo text-center">
	                      <img src="{{product.image}}" alt="" />
						  <h4 class="text-muted" *ngIf="product.discount_price != null">NPR. <s> {{product.price}}</s></h4>
	                      <h2 *ngIf="product.discount_price != null">NPR. {{ product.discount_price }}</h2>
	                      <h2 *ngIf="product.discount_price == null">NPR. {{ product.price }}</h2>
	                      <p>{{ product.name }}</p>
	                      <a href="#" [routerLink]="['/product/detail',product.product_id]" class="btn btn-primary">View
	                        Product</a>
	                    </div>
						<img src="assets/images/home/new.png" class="new" alt="" *ngIf="product.tag == 'new'" />
						<img src="assets/images/home/sale.png" class="new" alt="" *ngIf="product.tag == 'sale'" />
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="text-center">
	              <ul class="pagination">
	                <li> <a href="javascript:;" (click)="previousPage()"><i class="fa fa-long-arrow-left"></i></a></li>
	                <li *ngFor="let page of pageNumber" [ngClass]="(currentPage == page)?'active':''"> <a
	                    href="javascript:;" (click)="goToPage(page)">{{page}}</a></li>
	                <li><a href="javascript:;" (click)="nextPage()"><i class="fa fa-long-arrow-right"></i></a>
	                </li>
	              </ul>
	            </div>
	          </ng-container>
			  <ng-container *ngIf="showErrMsg">
				<h2 class="text-center mt-4 mb-4">{{errorMessage}}</h2>
			  </ng-container>
	        </div>
	        <!--features_items    
				
			
			-->
	      </div>
	    </div>
	  </div>
	</section>
