<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class="heading">
      <h3>Cart Details</h3>
    </div>
    <div class="table-responsive cart_info">
      <div class="spinner-wrapper" *ngIf="loader">
        <div class="spinner-border">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <table class="table table-condensed" *ngIf="cartItems.length  != 0 && !loader">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of  cartItems">
            <td class="cart_product">
              <a href=""><img src="{{ cart.product.image }}" alt="" width="100" height="100"></a>
            </td>
            <td class="cart_description">
              <h4><a href="">{{ cart.product.name }}</a></h4>
              <p>SKU: {{ cart.product.sku }}</p>
            </td>
            <td class="cart_price">
              <p>{{ cart.price }}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <input class="cart_quantity_input" type="text" name="quantity" value="{{ cart.quantity }}"
                  autocomplete="off" size="2" disabled>

              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{ cart.total }}</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" href="javascript:;" (click)="removeItem(cart.cart_id,cart.product_id)"><i
                  class="fa fa-times"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-container *ngIf="showErrorMsg || cartItems.length == 0">
      <h2>
        <p>{{ errorMessage }}</p>
      </h2>
    </ng-container>
  </div>
</section>
<!--/#cart_items-->
<section id="do_action" *ngIf="cartItems.length  != 0">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <div class="heading">
          <h3>Cart Summary</h3>
        </div>
        <div class="total_area">
          <div class="spinner-wrapper" *ngIf="loader">
            <div class="spinner-border">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <ul *ngIf="!loader">
            <li>Cart Sub Total <span>{{ subTotal }}</span></li>
            <li>Cart Total Items <span>{{ subQuanity }}</span></li>
            <li>Shipping Cost <span>Free</span></li>
            <li>Total <span class="text-theme">{{ subTotal }}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/#do_action-->
