<div class="container text-center">
  <div class="content-404">
    <img src="assets/images/404/404.png" class="img-responsive" alt="" />
    <h1><b>OPPS!</b> We couldn’t find this page</h1>
    <h2><a href="#" [routerLink]="['']">Bring me back Home</a></h2>
  </div>
</div>
