<!-- start of slider-->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item" [ngClass]="i == 0 ? 'active' : ''" *ngFor="let slide of slider; let i = index">
              <img src="{{ slide.image }}" class="girl img-responsive" alt="" />
            </div>
          </div>

          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>
<!--/slider-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="features_items">
          <!--featured_items-->
          <h2 class="title text-center">Featured Items</h2>
          <div class="spinner-wrapper" *ngIf="loader">
            <div class="spinner-border">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <ng-container *ngIf="products.length != 0 && !loader">
            <div class="row feature-product">
              <div class="col-sm-4" *ngFor="let product of products">
                <div class="product-image-wrapper">
                  <div class="single-products">
                    <div class="productinfo text-center">
                      <img src="{{product.image}}" alt="" />
                      <h4 class="text-muted" *ngIf="product.discount_price != null">NPR. <s> {{product.price}}</s></h4>
                      <h2 *ngIf="product.discount_price != null">NPR. {{ product.discount_price }}</h2>
                      <h2 *ngIf="product.discount_price == null">NPR. {{ product.price }}</h2>
                      <p>{{ product.name }}</p>
                      <a href="#" [routerLink]="['/product/detail',product.product_id]"
                        class="btn btn-primary mb-2">View
                        Product</a>
                    </div>
                    <img src="assets/images/home/new.png" class="new" alt="" *ngIf="product.tag == 'new'" />
                    <img src="assets/images/home/sale.png" class="new" alt="" *ngIf="product.tag == 'sale'" />
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="products.length == 0">
            <h2 class="text-center mt-4 mb-4">Sorry no product found.</h2>
          </ng-container>
        </div>
        <!--featured_items-->


      </div>
    </div>
  </div>
</section>
